.projectContainer {
	display: flex;
	flex-direction: column;
}

.galleriesContainer {
	display: flex;
	flex-wrap: wrap;
	width: 50vw;
}

h1 {
	width: 46.246vw;
	height: 1.802vw;
	margin: 0 0 1.416vw 0;
}

h2 {
	margin: 0 0 2.574vw 0;
	height: auto;
	width: 46.246vw;
}
