.container {
	display: flex;

	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;

	align-items: center;
	justify-content: center;
	height: 100vh;
}

.contianer img {
	align-self: center;
	justify-self: center;
	width: 20vw;
	height: 10vh;
	position: relative;
	z-index: 99999;
}

.loadingContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}
