.container {
	margin: 0 0 3.1587697423108896vh 0;
	line-height: 19pt;
	font-size: 13pt;
	max-width: 45.989vw;
	font-family: MYRIADPRO-REGULAR;
	color: #6c7069;
}

@media only screen and (max-width: 932px) {
	.container {
		max-width: 85vw;
	}
}
