.container {
	margin: 0 0 3.1587697423108896vh 0;
	line-height: minmax(15pt, 1.073vw);
	font-size: minmax(9pt, 0.729vw);
	max-width: 45.989vw;
	font-family: MYRIADPRO-REGULAR;
	color: #6c7069;
}

@media only screen and (max-width: 768px) {
	.container {
		max-width: 85vw;
	}
}
