.topNavItem {
	margin: 0;
}

.topNavItemBox {
	border-top: 1px solid #d6d9dd;
	border-bottom: 1px solid #d6d9dd;
	padding: 1.080631753948462vh 0 0.5818786367414795vh 0;
	margin-right: 1.244vw;
}
/* .notActive {
	font-family: MYRIADPRO-REGULAR;
	font-size: 12pt;
	color: #9f9f9d;
	margin: 0;
} */
.active {
	color: #925223;
	font-family: MYRIADPRO-BOLD;
}
