.container {
	margin: 5.7356608478802995vh 0 0 0;
	max-width: 1072.02px;
	min-width: 700px;
	/* min-width: 1420px; */
}

.topNavContainer {
	display: flex;
	margin: 0 0 1.99501246882793vh 0;
}

.topNavContainer li {
	display: flex;
	font-family: MYRIADPRO-REGULAR;
	font-size: 12pt;
	color: #9f9f9d;
}

/* .topNavContainer:not(:last-child) {
	margin: 0 1.244vw 0 0;
} */

.container img {
	width: 28.271vw;
	height: 18.447vw;
	/* object-fit: contain; */
}

@media only screen and (max-width: 768px) {
	.container {
		margin: 5.7356608478802995vh 0 0 3vw;
	}

	.container img {
		width: 100%;
		height: auto;
		/* object-fit: contain; */
	}

	.topNavContainer li {
		display: flex;
		font-family: MYRIADPRO-REGULAR;
		font-size: clamp(9pt, 0.686vw, 12pt);
		color: #9f9f9d;
	}
}
