.container {
	margin: 5.7356608478802995vh 0 0 0;
	/* min-width: 1420px; */
}

.topNavContainer {
	display: flex;
	margin: 0 0 1.99501246882793vh 0;
}

.topNavContainer li {
	display: flex;
	font-family: MYRIADPRO-REGULAR;
	font-size: 12pt;
	color: #9f9f9d;
	/* letter-spacing: ; */
}

.title {
	font-family: MYRIADPRO-REGULAR;
	font-size: 13pt;
	font-weight: bold;
	color: #6c7069;
	margin: 0 0 1.163757273482959vh 0;
}

.images {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 40%;

	width: 100%;
}

.images img {
	width: 13.085vw;
	height: auto;
	margin: 0 0 6.899418121363258vh 0;
	min-width: 193px;
	max-width: 301px;

	/* object-fit: contain; */
}

.image {
	margin: 0 3.2vw 0 0;
}

.image:nth-child(3n) {
	margin-right: 0;
}
