.container {
	display: flex;
	flex-wrap: nowrap;
	/* font-size: clamp(21pt, 1.373vw, 24pt);
	margin-right: 0.472vw;
	font-family: IowanOldStyle;
	color: #925223; */
}

.header {
	margin: 0 0 2.9925187032418954vh 0;
	font-size: 24pt;
	font-weight: bold;
	font-family: IowanOldStyle;
	color: #925223;
}

.capital {
	font-size: 32pt;
	text-transform: capitalize;
	font-weight: bold;
}
