.imageContainer {
	width: 13.085vw;
	height: 8.108vw;
	/* margin: 0 0 0 0; */
}

.imageContainer img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.title {
	font-family: MYRIADPRO-REGULAR;
	font-size: 13pt;
	font-weight: bold;
	color: #6c7069;
	margin: 0 0 1.163757273482959vh 0;
	width: 100%;
}

.l1Image {
	/* width: 100%;
	height: 100%;
	object-fit: cover; */
}

.l1Image:hover {
	/* opacity: 0.9; */
	/* transform: scale(1.05); */
}

@media only screen and (max-width: 932px) {
	.imageContainer {
		width: 25vw;
		height: 15.783vw;
		/* margin: 0 0 0 0; */
	}
	.container {
		/* margin: 0 0 0 0;
	width: 13.085vw;
	height: 8.108vw; */

		margin: 0 0 4vw 0;
	}
}
