.container img {
	/* object-fit: fill; */
	/* width: 100%; */
	width: 100%;

	height: auto;

	/* height: 71.23857024106401vh; */
}

.imageContainer {
	margin: 0 1.716vw 0 1.716vw;
	width: 54.783vw;
	/* width: 54.783vw;
	height: 71.23857024106401vh; */
}
/* .exit svg {
	float: right;
	width: 100%;
	font-size: 30px;
} */
.exit {
	transition: all 1s;
	transform-origin: 50% 50%;
}
.exit :hover {
	transform: scale(1.2);
}

.container {
	display: flex;
	/* height: 71.23857024106401vh; */
	width: 100%;

	padding: 0 0 0 0;
	margin: 3.7406483790523692vh 0 auto 0.901vw;
}

.container svg {
	color: #6c7069;
}

/* @media only screen and (max-width: 1329px) {
	.container {
		margin: 3.7406483790523692vh 0 auto 0.901vw;
	}
} */

.rightContainer {
	display: flex;
	flex-direction: column;
	margin-right: 1vw;
	min-width: 201.531px;
}

.captionContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-end;
}

@media only screen and (max-width: 981px) {
	.imageContainer {
		margin: 0 1vw 0 1vw;
	}
}

@media only screen and (max-width: 1231px) {
	.imageContainer {
		width: 50vw;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		margin: 10vh 5vw auto 5vw;
		width: 90vw;
		height: 100%;
		justify-content: center;
		justify-items: center;
		justify-self: center;
		display: flex;
		flex-direction: column;
	}

	.exit {
		display: flex;
		justify-content: flex-end;
	}

	.exit svg {
		align-self: flex-end;
	}

	.container img {
		/* object-fit: contain; */
		width: 100%;
		height: auto;

		/* height: 71.23857024106401vh; */
	}

	.imageContainer {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
	}
	.galleryContainer img {
		height: auto;
	}

	.galleryContainer {
		display: flex;
		justify-content: center;
	}

	/* .captionContainer {
		display: flex;
		height: auto;

		flex-direction: column;
		justify-content: flex-end;
	} */
}
