.container {
	display: flex;

	/* height: 71.23857024106401vh; */

	width: 100%;
	height: 100%;

	padding: 0 0 0 0;
}

.scroller {
	margin-left: -2vw;
}

.container img {
	/* width: 100%;
	height: auto; */
	/* width: 54.783vw; */

	width: 55%;
	height: 100%;
	object-fit: contain;
	margin: 0 1vw 0 1vw;

	/* height: 71.23857024106401vh; */
}

.videoPlayer {
	min-width: 42.8vw;
	min-height: 27.999vw;

	display: flex;
	align-items: center;
	height: 100%;
}

.videoPlayer {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* .reactPlayer {
	position: relative;
	height: 100%;
	width: 50vw;
} */

/* .reactPlayer > div {
	position: absolute;
} */

/* .imageContainer {
	margin: 0 1.716vw 0 1.716vw;
} */

/* .exit svg {
	float: right;
	width: 100%;
	font-size: 30px;
} */
.exit {
	transition: all 1s;
	transform-origin: 50% 50%;
}
.exit :hover {
	transform: scale(1.2);
}

.container svg {
	color: #6c7069;
}

/* @media only screen and (max-width: 1329px) {
	.container {
		margin: 3.7406483790523692vh 0 auto 0.901vw;
	}
} */

.rightContainer {
	display: flex;
	flex-direction: column;
	/* margin-right: 1vw; */
	/* width: 5%; */
}

.captionContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-end;
}

/* .leftButton {
	width: 10%;
	display: flex;
	justify-content: center;
}

.rightButton {
	width: 10%;
	display: flex;
	justify-content: center;
} */

/* @media only screen and (max-width: 1231px) {
	.container img {
		width: 50vw;
	}
} */

@media only screen and (max-width: 932px) {
	/* .captionContainer {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: flex-start;
	}
	.container {
		margin: 5vh 5vw auto 5vw;
		width: 90vw;
		height: 100vh;
		justify-content: center;
		justify-items: center;
		justify-self: center;
		display: flex;
		flex-direction: column;
	}

	.container img {
		object-fit: contain;
		width: 100%;
		
	}

	.imageContainer {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
	}
	.galleryContainer img {
		height: auto;
	}

	.galleryContainer {
		display: flex;
		justify-content: center;
		height: 55.33vw;
	} */

	/* .captionContainer {
		display: flex;
		height: auto;

		flex-direction: column;
		justify-content: flex-end;
	} */

	.videoPlayer {
		/* min-width: 42.8vw;
		min-height: 27.999vw; */
		width: 76vw;

		display: flex;
		align-items: center;
		height: 100%;
	}

	.leftButton {
		width: 10%;
		display: flex;
		justify-content: center;
	}

	.rightButton {
		width: 10%;
		display: flex;
		justify-content: center;
	}

	.container img {
		/* width: 100%;
		height: auto; */
		/* width: 54.783vw; */
		/* border: 3px solid green; */
		width: 80%;
		height: 100%;
		object-fit: contain;

		/* height: 71.23857024106401vh; */
	}

	.container {
		width: 100%;
	}

	.captionContainer {
		display: flex;

		flex-direction: column;
		justify-content: flex-start;

		margin-left: 10%;
	}
}
