.threeGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	column-gap: 3.561vw;
	row-gap: 2vw;
	width: 46.203vw;

	/* max-width: 45.989vw; */
	margin: 3vh 0 0 0;
}

.twoGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 30vw;
	column-gap: 3.561vw;
	row-gap: 2vw;
	width: 70vw;

	/* max-width: 45.989vw; */
	margin: 3vh 0 0 0;
}

.imageContainer {
	width: 100%;
	height: 100%;
	/* margin: 0 0 0 0; */
}

.imageContainer img {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}
