.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-top: 1vw;
	padding-bottom: 5px;
	/* justify-content: space-between; */
}

.container li {
	margin: 0 0 0 0;
	line-height: 14pt;
	display: flex;
	flex-wrap: nowrap;
	/* font-size: 0.558vw; */
	font-size: 10pt;
	font-family: HelveticaNeue;
	color: #6c7069;
	display: flex;
}

/* @media only screen and (max-width: 950px) {
	.container li {
		margin: 0 0 0 0;
		line-height: 14pt;
		display: flex;
		flex-wrap: nowrap;
		font-size: 0.558vw;
		font-family: HelveticaNeue;
		color: #6c7069;
		display: flex;
	}
} */

@media only screen and (max-width: 1206px) {
	.container li {
		font-size: 12px;
		line-height: 12px;
	}
}

@media only screen and (max-width: 1437px) {
	.container li {
		font-size: 9px;
	}
}

@media only screen and (max-width: 500) {
	.container li {
		font-size: 7px;
	}
}
