.container {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.container li {
	margin: 0 0 0 0;
	line-height: 14pt;
	font-size: 10pt;
	font-family: HelveticaNeue;
	color: #6c7069;
}
