/* @-ms-viewport {
  width: device-width;
} */

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

header {
	grid-area: header;

	background-color: blue;
}

li {
	list-style: none;
}

.container {
	display: grid;

	grid-template-columns: 23.295vw 17.804vw 17.804vw 17.804vw 23.295vw;
	grid-template-rows: 8.366vw calc(100vh - 8.366vw);
	grid-template-areas:
		'header header header header header'
		'nav main main main main ';
}

.mobileContainer {
	display: grid;
	grid-template-columns: 3f;
	grid-template-rows: 17vw 100vh;
	grid-template-areas:
		'header header header'
		'main main main';
}

.burger {
	width: 10vw;
}

.hide {
	visibility: hidden;
	display: none !important;
}

.logoContainer {
	min-width: 100vw;
	height: 9.376344086021506vw;

	background-color: lightblue;
}

.navBar {
	background-color: lightpink;
	grid-area: nav;
}

.contentContainer {
	background-color: rebeccapurple;

	grid-area: main;
	height: auto;
	overflow: auto;
}
