/* @-ms-viewport {
  width: device-width;
} */

@font-face {
	font-family: 'IowanOldStyle';
	src: local('IowanOldStyle'), url(./Fonts/IowanOldStyle.ttc) format('truetype');
}

@font-face {
	font-family: 'IowanOldStyle';
	src: local('IowanOldStyle'), url(./Fonts/IowanOldStyle.ttc) format('truetype');
}

@font-face {
	font-family: 'MYRIADPRO-REGULAR';
	src: local('MYRIADPRO-REGULAR'),
		url(./Fonts/MYRIADPRO-REGULAR.OTF) format('opentype');
}

@font-face {
	font-family: 'MYRIADPRO-BOLD';
	src: local('MYRIADPRO-BOLD'),
		url(./Fonts/MYRIADPRO-BOLD.OTF) format('opentype');
}

@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue'), url(./Fonts/HelveticaNeue.ttc) format('truetype');
}

@keyframes menu {
	0% {
		left: -100vw;
	}

	100% {
		left: 0;
	}
}

:root {
	scrollbar-width: none !important;
}

html,
body {
	padding: 0;
	margin: 0;
	/* font-size: 62.5%; */
}

svg {
	cursor: pointer;
}

.header {
	grid-area: header;
	height: 8.366vw;
}

.header img {
	width: 26.77vw;
	height: auto;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: none;
}

a {
	color: inherit;
}

li {
	list-style: none;
	text-decoration: none;
}

li :visited {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}

.container {
	display: grid;
	width: 100vw;
	grid-template-columns: minmax(150px, 23.295vw) auto 23.295vw;
	/* grid-template-columns: clamp(300px, 23.295vw, 542px) auto 23.295vw; */
	grid-template-rows: 8.366vw calc(100vh - 8.366vw);
	grid-template-areas:
		'header header header'
		'nav main main ';
}

.mobileContainer {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 9vw 100vh;
	grid-template-areas:
		'header'
		'main';
}

.burger {
	width: 10vw;
	height: auto;
}

.hide {
	visibility: hidden;
	display: none !important;
}

.logoContainer {
	min-width: 100vw;
	height: 9.376344086021506vw;
}

.navBar {
	grid-area: nav;
	margin-top: 3.408146300914381vh;
	border-right: 1px solid #231f20;
	height: 100%;
	min-height: 100vh;
}

.noScroll {
	overflow: hidden;
}

.contentContainer {
	grid-area: main;
	height: auto;
	overflow: auto;
	direction: rtl;

	/* max-width: 1072.02px; */
	padding: 0 0 0 2.231vw;
}
.flipped {
	direction: ltr;
	overflow: auto;
}

.contentContainer:before {
	content: ''; /* This is necessary for the pseudo element to work. */
	display: block; /* This will put the pseudo element on its own line. */
	padding: 0 2vw 0 0; /* This will center the border. */
	width: 75vw; /* Change this to whatever width you want. */
	position: absolute;
	width: 90vw;
	margin-right: 3vw;
	right: 1.2vw;

	/* This creates some space between the element and the border. */
	border-bottom: 1px solid #231f20; /* This creates the border. Replace black with whatever color you want. */
}

::-webkit-scrollbar {
	width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/* background: #925223;
	/* height: 1px; */
	/* width: 5px;
	border-radius: 100px; */
}

@media only screen and (max-width: 768px) {
	.contentContainer {
		width: 100vw;
		margin: 5vh 0 5vh 0;
		padding: 0;
	}

	.headerContainer {
		display: flex;
		width: 100%;
		height: auto;
	}

	.mobileNavContainer {
		width: 100vw;
		/* display: flex;
		flex-direction: column;
		align-items: center; */
		padding: 0;
		margin: 0;
		animation: menu 850ms ease-in-out;
		background-color: whitesmoke;
		position: fixed;
		z-index: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* justify-content: center; */
		top: 0;
		bottom: 0;

		left: 0;
		animation: menu 850ms ease-in-out;

		height: 100%;
	}

	.exitButton {
		align-content: flex-start;
		width: 100vw;
	}
	.exitButton svg {
		transform: scale(3);
		padding: 5vw 0 0 5vw;
	}

	.headerContainer img {
		width: 50vw;
		padding: 3vh 0 0 5vw;
	}
}
