/* @-ms-viewport {
  width: device-width;
} */

html,
body {
	padding: 0;
	margin: 0;
	/* font-size: 62.5%; */
}

.header {
	grid-area: header;
	height: 8.366vw;
}

li {
	list-style: none;
}

.container {
	display: grid;

	grid-template-columns: 23.295vw 17.804vw 17.804vw 17.804vw 23.295vw;
	grid-template-rows: 8.366vw calc(100vh - 8.366vw);
	grid-template-areas:
		'header header header header header'
		'nav main main main main ';
}

.mobileContainer {
	display: grid;
	grid-template-columns: 3f;
	grid-template-rows: 17vw 100vh;
	grid-template-areas:
		'header header header'
		'main main main';
}

.burger {
	width: 10vw;
}

.hide {
	visibility: hidden;
	display: none !important;
}

.logoContainer {
	min-width: 100vw;
	height: 9.376344086021506vw;
}

.navBar {
	grid-area: nav;
	margin-top: 3.408146300914381vh;
	border-right: 1px solid black;
}

.contentContainer {
	grid-area: main;
	height: auto;
	overflow: auto;
}

.contentContainer:before {
	content: ''; /* This is necessary for the pseudo element to work. */
	display: block; /* This will put the pseudo element on its own line. */
	padding: 0 2vw 0 0; /* This will center the border. */
	width: 75vw; /* Change this to whatever width you want. */
	position: absolute;
	width: 90vw;
	margin-right: 3vw;
	right: 1.2vw;

	/* This creates some space between the element and the border. */
	border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}
