.container {
	display: flex;
	margin: 0 0 3.1587697423108896vh 0;
}

.container img {
	width: 100%;
	max-width: 28.228vw;
	height: auto;
}

.captionContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-end;
	align-self: flex-end;
	margin: 0 0 0 1.845vw;
}

@media only screen and (max-width: 768px) {
	.captionContainer {
		display: flex;
		/* height: 100%; */
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
		margin: 0 0 0 1.845vw;
	}
	.container {
		margin: 0 0 3.1587697423108896vh 0;
		/* justify-content: space-between; */
	}

	.container img {
		max-width: 45vw;
		height: auto;
	}
}
