/* .paragraphContainer {
	margin: 0 0 4.7381546134663335vh 0;
} */

.container {
	margin: 0 0 10vh 0;
}

.image {
	margin: 0 3.2vw 0 0;
}
.images {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 40%;
	max-width: 45.989vw;

	width: 100%;
}

.title {
	font-family: MYRIADPRO-REGULAR;
	font-size: 13pt;
	font-weight: bold;
	color: #6c7069;
	margin: 0 0 1.163757273482959vh 0;
}

.image img {
	width: 13.085vw;
	height: auto;
	margin: 0 0 6.899418121363258vh 0;
	/* min-width: 193px;
	max-width: 301px; */

	/* object-fit: contain; */
}

@media only screen and (min-width: 769px) {
	.image:nth-child(3n) {
		margin-right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.images {
		width: 100vw;
		max-width: 100vw;
		display: flex;
	}

	.images img {
		width: 40vw;
		height: auto;
		margin: 0 0 6.899418121363258vh 0;
		justify-content: space-between;

		/* min-width: 193px;
        max-width: 301px; */

		/* object-fit: contain; */
	}

	.image {
		margin: 0 2vw 0 0;
	}
}
