.paragraphContainer {
	margin: 0 0 4.7381546134663335vh 0;
}

.container {
	margin: 0 0 0 0;
}

.images {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 40%;

	width: 100%;
}

.images img {
	width: 13.085vw;
	height: auto;
	margin: 0 0 6.899418121363258vh 0;
	min-width: 193px;
	max-width: 301px;

	/* object-fit: contain; */
}

.image {
	margin: 0 3.2vw 0 0;
}

.image:nth-child(3n) {
	margin-right: 0;
}
